UserKnownHostsFile /dev/null
StrictHostKeyChecking no
ServerAliveInterval 120 

Host bastion-?.fabric-testbed.net
  User <YOUR_BASTION_USERNAME>
  ForwardAgent yes
  Hostname %h
  IdentityFile /home/fabric/work/fabric_config/keys/fabric_bastion_key
  IdentitiesOnly yes

Host * !bastion-?.fabric-testbed.net
  User ubuntu
  ProxyJump <YOUR_BASTION_USERNAME>@bastion-1.fabric-testbed.net:22
  IdentityFile /home/fabric/work/fabric_config/keys/fabric_sliver_key
